@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: absolute;
}

.main-nav {
  background: rgb(239, 222, 222);
  width: inherit;
  display: grid;
}

.nav-bar1 {
  display: flex;
  background: rgb(17, 16, 16);
  padding: 0 20px;
  padding-left: 10%;
  border: 2px solid rgb(41, 39, 39);
}

.right {
  display: flex;
  margin-left: auto;
  margin-right: 5%;
  padding: 10px 0;
}

.logo-container {
  margin-right: 5%;
}

.logo-container:hover {
  background: rgb(246, 85, 4);
  margin: 5px;
  margin-right: 5%;
  border-radius: 5px;
}

.logo-container h1 {
  color: #f2f2f2;
  padding: 10px 0;
}

.logo-container h1:hover {
  padding: 5px;
}

.diagonal {
  padding: 3px 10px;
  transform: skewX(30deg);

}

.orange {
  background: rgb(246, 85, 4);
}

.grey {
  background: rgb(48, 46, 46);
}

.client-a {
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8rem;
  list-style: none;
  padding: 0 5px;
}

.client-a li {
  font-size: 0.8rem;
}

.client-a li hr {
  width: 40%;
  margin: 10% auto;
  border: 1px solid rgb(246, 85, 4);

}

.notification {
  margin-right: 5%;
}

.notification:hover {
  /* transition: ; */
}

.right2 {
  color: #f2f2f2;
  cursor: pointer;
}

.right i {
  padding-right: 20px;
}

.nav-container {
  background: rgb(239, 222, 222);
  display: flex;
  margin-left: auto;
}

.nav-list {
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 15px;
  text-transform: uppercase;
}

.nav-list li a {
  padding: 10px;
  font-size: 0.9rem;
  color: rgb(30, 27, 27);
  text-decoration: none;

}

.nav-list li:hover {
  opacity: 1;
  background: rgb(246, 85, 4);
  padding: 2px;
  border-radius: 5px;

}

main {
  width: 100%;
  display: flex;
  background: rgb(224, 221, 221);
  height: auto;
}

.icon-cont {
  background: black;
  height: inherit;
  border: 2px solid rgb(21, 20, 20);
  padding: 20px;
  margin-right: 5%;
}

.icon {
  color: #f2f2f2;
  list-style: none;
  padding-top: 20px;
  cursor: pointer;
}

.box-cont {
  width: 100%;
  display: grid;
  height: 100%;
  margin-top: 30px;
}

.first-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-right: 4%;
}

.box {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 10% 15%;
  cursor: pointer;
}

.box-1 {
  display: flex;
  justify-content: space-around;
  border-right: 4px solid rgb(0, 89, 255);
}

.box-2 {
  display: flex;
  justify-content: space-around;
  border-right: 4px solid rgb(0, 174, 255);
}

.box i {
  font-size: 2rem;
  margin-top: 15px;
  color: rgb(127, 124, 124);
}

.box-3 {
  display: flex;
  justify-content: space-around;
  border-right: 4px solid rgb(255, 0, 81);
}

.box-4 {
  display: flex;
  justify-content: space-around;
  border-right: 4px solid rgb(246, 85, 4);
}

.box h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(50, 52, 54);
}

.box h3 {
  color: rgb(31, 62, 119);
}

.box:hover {
  margin: 0 2%;
}

.second-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  margin-top: 40px;
  margin-right: 5%;
  margin-bottom: 10px;
}

.bx {
  background: #f2f2f2;
}

.u-info1,
.u-info2 {
  width: 70%;
  background: #f2f2f2;
}

.u-info1 {
  display: grid;
}

.credit {
  display: flex;
  margin: 3% 10%;
}

.credit i {
  padding-right: 3%;
}

.value {
  margin: 0 auto;
}

.af {
  display: flex;
  background-color: rgb(246, 85, 4);
  justify-content: center;
  margin: 10px 5%;
  height: 1.5rem;
  padding-top: 5px;
  border-radius: 5px;
}

.af:hover {
  background: #6C63FF;
}

.af div a {
  font-size: 0.8rem;
  color: #d7d0d0;
  text-decoration: none;

}

.txt-box {
  display: flex;
}

.img-sect {
  margin-left: auto;
}

.img-sect img {
  width: 15rem;
  height: 10rem;
}

.txt-caption {
  margin: 2% 5%;

}

span {
  color: rgb(246, 85, 4);
}

.txt-caption h2 {
  font-size: 1.2rem;
}

.txt-flex {
  display: flex;
  padding-top: 20px;
  margin-left: 2%;
  justify-content: space-around;
  width: 100%;
}

.txt {
  font-size: 0.9rem;
}

.txt-2 {
  margin-left: auto;
}

.txt li {
  padding: 5px 3px;
  list-style: none;
  color: rgb(181, 67, 10);
}

.txt i {
  padding-right: 3px;
  color: rgb(181, 67, 10);
}


.search {
  display: grid;
  align-items: center;
}

.search-input {
  width: 93%;
  margin: 8% 3%;
  padding: 8px 5%;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;

}

.search i {
  position: relative;
  top: 5.4rem;
  padding-left: 5%;
}

.up {
  display: none;
  padding: 0;
  margin: 0;
  width: 90%;
  margin-top: -50px;
}

.bx-t {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.side {
  display: grid;
  margin-left: 5%;
}

.side a {
  padding-top: 5%;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

footer {
  background: #6C63FF;
  color: #f2f2f2;
  text-align: center;
  padding: 8px;
}

/* -----Hamburger-----  */

.hamburger {
  display: none;
  margin-top: 10px;

}

.hamburger div {
  width: 22px;
  height: 2.5px;
  background: #f2f2f2;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.line1,
.line2,
.line3 {
  margin: 2px 0;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translatex(50px);
  }

  to {
    opacity: 1;
    transform: translatex(0px);
  }
}


/* Media Query */

@media only screen and (max-width: 1024px) {
  .txt-flex {
    display: flex;
    flex-direction: column;
  }

  .txt-2 {
    margin-left: 0;
  }

  .txt li {
    padding: 3px;
  }
}

@media only screen and (max-width: 900px) {

  .txt-caption h2 {
    font-size: 0.9rem;
  }

  .img-sect img {
    width: 12rem;
    height: 6rem;
  }

  .u-info1,
  .u-info2 {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {



  .hbg-link {
    display: flex;

  }

  /* ----Hamburger---- */
  .nav-bar {
    position: fixed;
    top: 70px;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111627;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
    z-index: -1;
    padding-top: 70px;
  }

  .nav-bar li a {
    color: #f2f2f2;
  }

  .hamburger {
    display: grid;
    flex-direction: column;
  }

  .nav-list {
    font-size: 0.7rem;
    padding: 10px 0;
    /* margin-left: 1%; */
  }

  .logo-container h1 {
    color: #f2f2f2;
    font-size: 0.7rem;
    margin-top: 5px;
  }

  .nav-container {
    margin-left: 0;
  }

  .client-a li {
    font-size: 0.6rem;
  }

  .right {
    margin-right: 0;
  }

  .right i {
    padding-right: 20px;
  }

  .nav-list li a {
    font-size: 0.6rem;
    padding: 3px;
  }

  .first-container {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    margin-right: 5%;
  }

  .second-container {
    display: flex;
    flex-direction: column;
  }

  .txt-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .img-sect img {
    width: 18rem;
    height: 8rem;
  }

  .img-sect {
    margin: 10px auto;
  }

  .txt-caption h2 {
    font-size: 0.8em;
  }

  .txt-flex {
    display: flex;
    flex-direction: column;
  }

  .txt {
    font-size: 0.8rem;
  }

  .txt-2 {
    margin-left: 0;
  }

  .first-srch {
    display: none;
  }

  .search-input {
    text-align: center;
    font-size: 0.7rem;
  }

  .search i {
    position: relative;
    top: 3rem;
    padding-left: 5%;
    padding-right: 3%;
  }

  .up {
    display: grid;
    width: 100%;
  }

  .u-info1,
  .u-info2 {
    width: auto;
  }
}

.nav-active {
  transform: translatex(0%);
}

@media only screen and (max-width: 280px) {
  .img-sect img {
    width: 12rem;
    height: 8rem;
  }

  .nav-bar {
    padding: 0 2%;
  }

  .c-a {
    font-size: 0.5rem;
  }

  .right i {
    padding-right: 10px;
  }

  .nav-list li a {
    font-size: 0.4rem;
    padding: 2px;
  }

  .search i {
    top: 2.5rem;
    margin-right: 3%;
  }
}